@model AdditionBonusTask.Models.Comment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light p-3" style="border-radius:10px">
    <h1 style="text-align:center">Create Comment</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex col-md-12">
                    <div class="form-group col-6">
                        <label asp-for="CommentText" class="control-label"></label>
                        <input asp-for="CommentText" class="form-control" />
                        <span asp-validation-for="CommentText" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="CommentDate" class="control-label"></label>
                        <input asp-for="CommentDate" class="form-control" />
                        <span asp-validation-for="CommentDate" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="d-flex col-md-12">
                    <div class="form-group col-6">
                        <label asp-for="PostId" class="control-label"></label>
                        <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
   </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
