@{
    ViewData["Title"] = "Messages";
}

<div class="messages">
    <div class="card bg-light">
        <div class="card-header" style="text-align:center">
            <h2>Messages</h2>
        </div>
        <div class="card-body" style="background:transparent">
            <div class="card__body_text">
                <ul class="list-group list-group-flush">
                    <a id="manage" asp-area="" asp-controller="Home" asp-action="Messages" class="list-group-item message__Link2" style="text-decoration:none">
                        <div class="message__Link">
                            <img src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png" class="image_circle" style="margin-top:1%" />
                            <div class="messages__text">
                                <label>User Userov</label>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                            <div class="messages__date">
                                <label>09.04.2021</label>
                            </div>
                        </div>
                    </a>

                    <a id="manage" asp-area="" asp-controller="Home" asp-action="Messages" class="list-group-item message__Link2" style="text-decoration:none">
                        <div class="message__Link">
                            <img src="https://img.icons8.com/color/452/avatar.png" class="image_circle" style="margin-top:1%" />
                            <div class="messages__text">
                                <label>Test User</label>
                                <p>The element will then take up the specified width, and the remaining space will be split equally between the two margins </p>
                            </div>
                            <div class="messages__date">
                                <label>09.04.2021</label>
                            </div>
                        </div>
                    </a>

                    <a id="manage" asp-area="" asp-controller="Home" asp-action="Messages" class="list-group-item message__Link2" style="text-decoration:none">
                        <div class="message__Link">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgLZal2ngrRXdEebFSXKENv_Joj38zpGXhwA&usqp=CAU" class="image_circle" style="margin-top:1%" />
                            <div class="messages__text">
                                <label>Halo Malo</label>
                                <p>To just center the text inside an element, use . </p>
                            </div>
                            <div class="messages__date">
                                <label>09.04.2021</label>
                            </div>
                        </div>
                    </a>
                    <a id="manage" asp-area="" asp-controller="Home" asp-action="Messages" class="list-group-item message__Link2" style="text-decoration:none">
                        <div class="message__Link">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgLZal2ngrRXdEebFSXKENv_Joj38zpGXhwA&usqp=CAU" class="image_circle" style="margin-top:1%" />
                            <div class="messages__text">
                                <label>Halo Malo</label>
                                <p>To just center the text inside an element, use . </p>
                            </div>
                            <div class="messages__date">
                                <label>09.04.2021</label>
                            </div>
                        </div>
                    </a>
                    <a id="manage" asp-area="" asp-controller="Home" asp-action="Messages" class="list-group-item message__Link2" style="text-decoration:none">
                        <div class="message__Link">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgLZal2ngrRXdEebFSXKENv_Joj38zpGXhwA&usqp=CAU" class="image_circle" style="margin-top:1%" />
                            <div class="messages__text">
                                <label>Halo Malo</label>
                                <p>To just center the text inside an element, use . </p>
                            </div>
                            <div class="messages__date">
                                <label>09.04.2021</label>
                            </div>
                        </div>
                    </a>
                </ul>
            </div>

        </div>
    </div>
</div>